ul  {

    margin: 0;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: right;
}
.menu{
    background-color: gray;
    height: 56px;
}
ul li {
    display: inline;
    text-decoration: none;
    display: inline;
    margin-right: 20px;
    padding: 0px;
    color: white;
}


.middle{
    background-image: url("IMG_4992.JPG");
    background-size: 100% 830px;
    height: 830px;
    margin-top: -30px;
}
.footer{
    font-size: 18px;
    color: beige;
    background-color: #0b0b0b;
    height: 35px;
    margin-top: -18px;

    vertical-align: middle;
}

.textUrl{
    font-size: 30px;
    padding-left: 20px;
}

input{
    margin-left: 15px;
    border-radius: 6px;
    height: 36px;
    font-size: 25px;
}

#Start{
    width: 145px;
    font-size: 20px;
    float: left;
}
#Pause{
    /*background: url("pause-button-png-pause-flat-button-png-512.png") 100% 100% no-repeat ;*/
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
    border-radius: 6px;
    margin-left: 15px;
    background-position: center;
}

#persentOfDownloading{
    font-size: 25px;
    padding-left: 20px;

}
#persentTimeDate{
    font-size: 25px;
    padding-left: 20px;

}
#url{
    width: 70%;
}
#name{
    width: 30%;
}
#sashaPhoto{
    height: 640px;
    width: 480px;
}
#vladaPhoto{
    height: 640px;
    width: 480px;
}

h1 {
    text-align: center;
}

#Vlada{
    margin-left: 40px;
    text-align: left;
    width: 45%;
    float: left;
}
#Sasha{
    float: right;
    margin-right: 40px;
    text-align: right;
    width: 45%;
}

#sashaDisc{
    margin-right: 10px;
    text-align: right;
    width: 100%;
    font-size: 25px;
}
#vladaDisc{
    margin-left: 10px;
    text-align: left;
    width: 100%;
    font-size: 25px;
}
#vladaName{
    width: 100%;
    font-weight: bold;
    font-size: 27px;
}
#sashaName{
    width: 100%;
    font-weight: bold;
    font-size: 27px;
}
#informationAbout{
    width:70% ;
    margin-left: 15%;
    font-size: 30px;

}
a{
    text-decoration: none;
    color: white;
}


